
STRIPE_SECRET_KEY=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
STRIPE_PUBLIC_KEY=pk_live_51HqJUhHE68RbPH4GTUPj5UoChMa1Y1SSYNGL8gprwuvTrsicFTFSjI1fUqjrUJzVXNXk0yZUHyQfZxAOsJAR5yZE00eRZsUWRN
git 
docker 
docker-compose
