[Unit]
Description=SSL certificate renew

[Service]
Type=simple
ExecStart=/usr/local/bin/ssl_renew.sh
StandardOutput=file:/var/log/cert.log
StandardError=file:/var/log/errorcert.log
