<!DOCTYPE html>
<html>
    <head>
        <link rel="shortcut icon" href="Images/favicon.ico">
        <title>The BackStreeT | About</title>
        <meta name="description" content="This is the description">
        <link rel="stylesheet" href="styles.css" />
    </head>
    <body>
        <header class="header">
            <nav class="nav main-nav">
                <ul>
                    <li><a href="index.html">HOME</a></li>
                    <li><a href="store">STORE</a></li>
                    <li><a href="about.html">ABOUT</a></li>
                </ul>
            </nav>
            <h1 class="band-name band-name-large">The BackStreeT</h1>
        </header>

        <section class="section-payment" >
            <img src="Images/fail.png" class="success" >
            <p class = "payment-success"> Payment failed! <br>
                <%= errormessage %>
            </p>
        </section>
        